# Titanic data from kaggle，do it in R

In [1]:
#VARIABLE DESCRIPTIONS:
#pclass          Passenger Class(艙等)
#                (1 = 1st; 2 = 2nd; 3 = 3rd)
#survival        Survival
#                (0 = No; 1 = Yes)
#name            Name
#sex             Sex
#age             Age
#sibsp           Number of Siblings/Spouses Aboard(同輩人數)
#parch           Number of Parents/Children Aboard(長輩或小孩人數)
#ticket          Ticket Number(票號)
#fare            Passenger Fare(票價)
#cabin           Cabin(房號)
#embarked        Port of Embarkation(登船的港口) 
#                (C = Cherbourg; Q = Queenstown; S = Southampton)
#boat            逃離鐵達尼號時所搭乘的小船號碼
#body            
#home.dest       Home/Destination(目的地)

#NOTE:parch=0是指此不是研究認定的家屬關係，如保母帶小孩，則他的parch=0
##############################################################################################

In [3]:
rm(list=ls()) # remove all variables
#執行此程式需要的package
library(dplyr)
library(data.table)
library(stringr) #字串package

In [12]:
Q=fread("C://pythonwork/NTU/Titanic data/titanicTrain.csv")
head(Q)

  pclass survived name                                            sex
1 1      1        Allen, Miss. Elisabeth Walton                   female
2 1      1        Allison, Master. Hudson Trevor                  male
3 1      0        Allison, Miss. Helen Loraine                    female
4 1      0        Allison, Mr. Hudson Joshua Creighton            male
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female
6 1      1        Anderson, Mr. Harry                             male
  age     sibsp parch ticket fare     cabin   embarked boat body
1 29.0000 0     0     24160  211.3375 B5      S        2     NA
2  0.9167 1     2     113781 151.5500 C22 C26 S        11    NA
3  2.0000 1     2     113781 151.5500 C22 C26 S              NA
4 30.0000 1     2     113781 151.5500 C22 C26 S             135
5 25.0000 1     2     113781 151.5500 C22 C26 S              NA
6 48.0000 0     0     19952   26.5500 E12     S        3     NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON
6 New York, NY

In [15]:
names(Q)
#將變數home.dest改成home_dest
names(Q)=c('pclass','survived','name','sex','age','sibsp','parch','ticket','fare','cabin','embarked','boat','body','home_dest')
names(Q)

 [1] "pclass"    "survived"  "name"      "sex"       "age"       "sibsp"
 [7] "parch"     "ticket"    "fare"      "cabin"     "embarked"  "boat"
[13] "body"      "home_dest"

 [1] "pclass"    "survived"  "name"      "sex"       "age"       "sibsp"
 [7] "parch"     "ticket"    "fare"      "cabin"     "embarked"  "boat"
[13] "body"      "home_dest"

In [ ]:
#讀取name裡面的第一個字串，此為姓氏
Q$last_name<- sapply(strsplit(as.character(Q$name),','), "[", 1)

In [17]:
subset(Q,cabin=="C22 C26")
print("================================================================")

print('body的種類:')
length(table(Q$body))

  pclass survived name                                            sex
1 1      1        Allison, Master. Hudson Trevor                  male
2 1      0        Allison, Miss. Helen Loraine                    female
3 1      0        Allison, Mr. Hudson Joshua Creighton            male
4 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female
  age     sibsp parch ticket fare   cabin   embarked boat body
1  0.9167 1     2     113781 151.55 C22 C26 S        11    NA
2  2.0000 1     2     113781 151.55 C22 C26 S              NA
3 30.0000 1     2     113781 151.55 C22 C26 S             135
4 25.0000 1     2     113781 151.55 C22 C26 S              NA
  home_dest
1 Montreal, PQ / Chesterville, ON
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON

[1] "================================================================"
[1] "body的種類:"

[1] 95

In [18]:
#房號C22，C26為一家人，slibsp是指不包含自己有多少個同輩，parch是指上有老母下有老小的個數
Q[grepl("Allison",Q$name),]

  pclass survived name                                            sex
1 1      1        Allison, Master. Hudson Trevor                  male
2 1      0        Allison, Miss. Helen Loraine                    female
3 1      0        Allison, Mr. Hudson Joshua Creighton            male
4 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female
  age     sibsp parch ticket fare   cabin   embarked boat body
1  0.9167 1     2     113781 151.55 C22 C26 S        11    NA
2  2.0000 1     2     113781 151.55 C22 C26 S              NA
3 30.0000 1     2     113781 151.55 C22 C26 S             135
4 25.0000 1     2     113781 151.55 C22 C26 S              NA
  home_dest
1 Montreal, PQ / Chesterville, ON
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON